.cards
  - @projects.each do |project|
    .card
      .card-image
        %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}/
      .card-header
        = project.name
      .card-copy
        %p= project.description
      .card-stats
        %ul
          - project.tech_array.each do |tech|
            %li
              = tech

= link_to "New Project", new_project_path if admin_signed_in?
