///////////////////////////////////////////////////////////////////////////////////
$alert-color: #FFF6BF !default;
$error-color: #FBE3E4 !default;
$success-color: #E6EFC2 !default;
$notice-color: #E5EDF8 !default;
$base-spacing: 1.5em !default;
//////////////////////////////////////////////////////////////////////////////////

@mixin flash($color) {
  -webkit-font-smoothing: antialiased;
  color: darken($color, 60);
  background: $color;
  display: block;
  font-weight: bold;
  padding: $base-spacing / 2;
  text-align: left;
}

.flash-alert {
  @include flash($alert-color);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
}

.flash-success {
  @include flash($success-color);
}

#close-flash {
  color: black;
}
